.container {

    .row {
    
        .col-lg-6, .col-lg-12 {
    
            .form-group {
    
                label {
                    font-size: 150%;
                    color: #FFFFFF;
                }
            }
        }
    }

    .text-center { 

        .badge {
            margin: 2px;
            font-size: 150%;
        }
    }
}